#about
  %h2 About

  %p
    Harmony Dawn is a practicing psychic, healer, teacher, and consultant.
    Receiving her first deck of Tarot cards in 1993, she has since read at
    such fine establishments as The Original Tremont Tearoom, the nation's
    oldest psychic salon; the Cambridge Innovation Center; and the
    fanciful Cuchi Cuchi restaurant.

  %p
    She has been featured for her psychic work in the Boston Globe Sidekick
    Magazine, the Boston Phoenix, and the Weekly Dig.

  %p
    Harmony Dawn is a graduate of the Skye Institute as a Reiki Master Teacher,
    and of the Massage Institute of New England as a Massage Therapist.
    She has a background in Thai Yoga, deep tissue massage, crystal healing,
    and chakra balancing.

  %p
    Harmony Dawn has worked with a beautifully diverse clientele, from
    stockbrokers and scientists to artists and producers to yogis and healers.

  %p
    Her goal is to help you explore your energetic potential.

  %p
    Let her guide and inspire you to master your potential and prepare for
    unforeseen opportunity.

