#about
  #about-content
    %p
      %b Harmony Dawn
      is a practicing psychic, healer, teacher, and consultant.  Receiving her first deck of Tarot cards in 1993, she has since read tarot for such fine establishments as The Original Tremont Tearoom, the nation's oldest psychic salon; the Cambridge Innovation Center; the Harvard Divinity School; and the fanciful Cuchi Cuchi, a belle epoque lounge and martini bar.  

    %p
      Through her tours and phone readings, Harmony Dawn is privileged to work with a beautifully diverse and nationwide clientele from stockbrokers and scientists, fine artists and writers, musicians and producers, to yogis and monks.

    %p
      Harmony Dawn is a graduate of the Skye Institute as a Reiki Master Teacher (Shinpiden), and of the Massage Institute of New England as a Therapeutic Massage Therapist. She has a background in Thai Yoga and Deep Tissue massage, Reflexology, Crystal Healing, and Chakra Balancing.

    %p
      As a consultant and psychic, she has been featured in the Boston Globe Sidekick Magazine, the Boston Phoenix, and the Weekly Dig.

    %p
      Her goal is to help you explore your energetic potential.

    %p
      Let her guide and inspire you to master your potential and prepare for unforeseen opportunity.

