#reiki
  %h2 Reiki

%blockquote
  The word Reiki is made of two Japanese words - Rei which means "God's
  Wisdom or the Higher Power" and Ki which is "life force energy". So
  Reiki actually means "spiritually guided life force energy".   Reiki
  treats the whole person including body, emotions, mind and spirit
  creating many beneficial effects that include relaxation and feelings
  of peace, security and wellbeing. Many have reported miraculous
  results.
  %br/
  Reiki is a simple, natural and safe method of spiritual healing and
  self-improvement that everyone can use. It has been effective in
  helping virtually every known illness and malady and always creates a
  beneficial effect. It also works in conjunction with all other medical
  or therapeutic techniques to relieve side effects and promote
  recovery.

  %i
    &mdash; the International Center for Reiki Training,
    %a(href="http://www.reiki.org") www.reiki.org

%p
  Harmony Dawn is an Usui Reiki Master Teacher.  Eric Lindemere, her
  teacher, was trained in the esoteric, healing art of Reiki at the
  International Center for Reiki Training and later founded the Sky
  Institute.  She has performed attunements in greater Boston area,
  Western Massachusetts and New Hampshire.

%p
  Harmony Dawn is available for in-home Reiki healing sessions, long
  distance Reiki healing sessions, and is also available for reikiing
  and clearing energy in the home or office.


  %h4 Hands-on Healing
  60 min Reiki session $75

  %h4 Long Distance Reiki
  60 min Reiki session $75

  %h4 Reikiing Personal or Professional Space
  $175-$300 (price upon consultation)
