#tarot
  %h2 Tarot

  %p
    Harmony Dawn's approach to tarot is that of her approach to modern
    mysticism.  She firmly believes in everyone's capacity for intuition.
  %p
    Through a tarot reading, she can often sense energetic
    potentials of your future and present circumstances, while revealing
    a deep understanding of the events and energies which led you to
    this point in your life.
  %p
    Open yourself to your potential.
  %p
    Experience personal exploration through different paths of divination.
  %p
    Harmony Dawn is available for tarot readings for individuals or groups,
    with corporate, personal, and other special events welcomed.

  %h4 25 Minute Reading
  Available in-person only.
  %br

  %h4 45 Minute Reading
  Available in-person and phone.
  %br

  %h4 65 Minute Reading
  Available in-person and phone.
  %br

