#tarot
  %h2 Tarot

  %p
    Harmony Dawn's approach to tarot is that of her approach to modern mysticism. With a pluralist approach to divination, she firmly believes in everyone's capacity for intuition and intends to foster awareness of individual energetic opportunity.

  %p
    Through each tarot reading, she senses potentials of your future and present circumstances, while revealing a deep understanding of the events and energies which led you to this point in your life. At a crossroads?  Now is the time to book your appointment.

  %p
    Open yourself to your potential with compassion.

  %p
    Experience personal exploration through different paths of divination.

  %p
    Harmony Dawn is available for tarot readings for individuals or groups, with corporate, personal, and other special events welcomed.

  %p
    Consulting sessions (with or without tarot) are also available.

  %h4 30 Minute Reading - $85
  %br

  %h4 45 Minute Reading - $130
  %br

  %h4 60 Minute Reading - $170
  %br

