#testimonials
  %h2 Testimonials

  %p
    Harmony Dawn's years as a healer and psychic have granted her the
    privilege of working with a very diverse clientele. Here are some of the things they
    have to say about their experience:

  %blockquote
    “Harmony’s enthusiasm and luminosity serve well to increase the positive effect of every session I have with her. She has an uncanny ability to combine Reiki and a smiling psychic intuition in a way that is priceless and enlightening, as well as insightful and encouraging. Possessing a remarkable use of energy, each session I have had with her has been better than the last. I highly recommend it!”
    %p.from
      Sky Winchester
      %br
      Taurus
      %br
      International Tattoo Artist
      %br
      skywinchester.com

  %blockquote
    "I have consulted with Harmony on major life decisions relaying on her holistic approach of compassion, insight, and supportive guidance. Her advice has always been excellent while delivered in a very kind and fun manner making the exchange spiritually resonate and
    meaningful. When confronted with hard choices, I've found her ability to help me clarify what is important and understand the deep-rooted sources of conflict priceless. I highly recommend her services for providing clear intuitive aid with your own process."
    %p.from
      Kiarna Boyd
      %br
      Pisces
      %br
      Geomancer
      %br
      diviningsystems.com

  %blockquote
    "After a very busy and stressful time opening a new business, Harmony helped me refocus myself... Her energy was very relaxing and allowed me to focus on getting back to a state of being fully charged and ready to work with my clients.. I couldn't thank Harmony enough!"
    %p.from
      Holly Azara
      %br
      Aquarius
      %br
      National Tattoo Artist
      %br
      alwaysandforevertattoo.com

  %blockquote
    “getting a psychic reading from Harmony Dawn is a multi-tiered magickal experience. You feel as though you are enveloped in warm pink fuzzies, yet still guided to the right and true path with a firm hand. A genuine empath, Harmony's readings are compassionate, accurate and leave you walking away energized and balanced.”
    %p.from
      Cat de Leon
      %br
      Aquarius
      %br
      Artist, Writer, Teacher, Rock Reporter
      %br
      www.catdeleon.com

  %blockquote
    "Harmony's been working with me for years, her skill is impeccable and her
    sessions are DIVINE!"
    %p.from
      N. Hayes
      %br
      Capricorn
      %br
      CEO Westbay Music Group
      %br
      Music Production at MTV Networks
      %br
      westbaymusicgroup.com
      %br
      hypemusic.com

  %blockquote
    "Harmony Dawn is among the most specific and accurate psychic readers I have
    ever had the pleasure of knowing. While organizing special events at the Harvard
    Divinity School, I hired her yearly to come and do tarot readings. Everyone at the
    event who met her, skeptics alike, were enchanted and impressed by her insightful,
    endearing nature, and her very keen power of intuition. I could not recommend
    anyone more wholeheartedly!"
    %p.from
      Adrien Doherty
      %br
      Scorpio
      %br
      IT and Media Services, Harvard University

  %blockquote
    "My consultations with Harmony have been eye-opening and healing experiences.
    She is warm-hearted, compassionate, knowledgeable, and skilled. Her keen insight
    and unique perspective have helped me through the darkest of times. I highly
    recommend her."
    %p.from
      Angela Seeber
      %br
      Cancer
      %br
      Wife, Mother, Superhero

  %blockquote
    "I’ve had the pleasure to know Harmony Dawn since 1993. Harmony has an uncanny ability to connect with, assist and guide people through trying and happy times a like. Her genuine warmth and serenity during a reiki treatment helped me overcome pre-wedding jitters as I was about to walk down the isle in front of 200 people. She was able to instill in me a sense of calm and peace on this most emotional day. Harmony is a grounded and realistic mystic and has a profound understanding of the human condition. She has given me a plethora of valuable and accurate advice over the years and is able to deliver even difficult news with sensitivity and hope."
    %p.from
      Meaghan Q. Sinclair
      %br
      Pisces
      %br
      Writer, Music Manager, Counselor
      %br
      meaghanq.com

  %blockquote
    “I had the pleasure of working with Harmony Dawn for quite a few years at The Tremont Tearoom. She is a professional, accurate and personable psychic tarot reader. During her time with us she organized several events at our shop as well as provided readings at many events for our corporate clients. Harmony can take the hardest of skeptics and with her wit, skill, and charm have them eating out of the palm of her hand in no time. I highly recommend her for any psychic work.”
    %p.from
      Alex Palermo
      %br
      Libra
      %br
      Psychic, Astrologer, Writer
      %br
      Guardian of The Original Tremont Tearoom
      tremont-tearoom.com

  %blockquote
    "I have been a client of Harmony Dawn for the past 12 years. Her predictions have helped guide me in the best and worst times of my life. In 2004 while struggling financially, Harmony predicted the various outcomes of my options, which helped me choose the best route to better my financial situation. In 2006, Harmony predicted my pregnancy and her Reiki treatments during labor helped ease the pain and relax me. Harmony is truly in tune with her psychic senses and utilizes them to help people who want pure psychic assistance. If you are looking for a reading that will truly help guide all the choices in life Harmony Dawn is the right psychic for you."
    %p.from
      Ariane Taylor
      %br
      Scorpio
      %br
      Special Events Planner, Mom
      %br
      www.pamperedchef.biz/ari

  %blockquote
    "Harmony Dawn is the real thing. Not only is she a gifted psychic, but she is also a natural healer, both in the realms of energy and touch. She has alleviated my pain when my neck was immobilized, she has given me a reiki attunement, and she has spread the cards for me countless times. Everything she has ever predicted for me over the past 8 years has come true (even the things that didn't make any sense at first). She read my tea leaves years ago and said that a man was going to buy me a plane ticket west and somehow I would have the opportunity through that to relocate. A couple months later my work sent me to California for training and I moved shortly thereafter... to California. Harmony later predicted I'd end up coming back to New Hampshire... and I did. Countless other readings have been eerily accurate. When I came back from working at Burning Man Harmony read my cards and in the first 3 cards pulled she nailed the situation at hand down to the astrology signs of those around me. She saw a difficult Winter and that I'd have plane tickets to California by the end of May. I moved back to California June 1st. She balances her candor with compassion. Whenever i am really stuck, I know I can call Harmony and benefit from her guidance."
    %p.from
      Christine Shepherd
      %br
      Sagittarius
      %br
      Computer Systems Engineer and Firedancer

  %blockquote
    "Harmony Dawn is the only person I trust to lead me to the answers I need to know.
    She accurately and gently predicted a moment of great pain in my life then delivered
    me the gift of her wisdom in how to get through it. I am a better, happier me because
    of the help she provides me.”
    %p.from
      Edrie
      %br
      Sagitarius
      %br
      Performance Artist, Musician
      %br
      armyoftoys.com

  %blockquote
    “As a psychic myself, I trust only very few people to go to when I need advice. Harmony Dawn is one of those people. Whenever I need guidance about my personal life or how my writing career is going, I always turn to her and she is right on. I've been getting readings from her for over ten years and would recommend her to anyone."
    %p.from
      Crymsyn Hart
      %br
      Scorpio
      %br
      Author
      %br
      www.ravynhart.com
