$width: 960px;
$fgcolor: black;
$html_bgcolor: rgb(0,0,0); // #000;
$body_bgcolor: rgb(220,220,220);

// * { border: 1px solid red; }

html {
  background-color: $html_bgcolor;
  color: $fgcolor;
}

body {
  width: $width;
  height: 100%;
  margin: 10px auto 10px auto;
  background-color: $body_bgcolor;
  font-family: 'Judson', 'Times New Roman', 'Times', sans-serif;
  font-size: 16px;
  border: 0px;
  border-radius: 10px;
}



h1 { font-size: 218%; }
h2 { font-size: 164%; }
h3 { font-size: 145%; }
h4 { font-size: 118%; }
h1,h2,h3,h4 {
  display: inline-block;
  font-weight: bold;
}

header {
  background-image: url(/assets/headerbg.png);
  color: #eee;
  display: block;
  border-bottom: 1px dotted gray;
  font-size: 110%;
  .title {
    font-family: 'Lancelot', 'Times New Roman', 'Times', sans-serif;
    clear: left;
  }
  h1 {
    display: inline-block;
    margin: 10px 0px 0px 10px;
  }
  h3 {
    display: inline-block;
    margin-left: 10px;
  }

}

nav {
  ul {
    width: $width;
    position: relative;
    left: -10px;
    bottom: -10px;

    list-style-type: none;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    li {
      font-size: 125%;
      a,a:visited {
        display: inline-block;
        margin-right: 35px;
        color: $body_bgcolor;
        text-decoration: none;
      }
    }
  }
}

#content {
  clear: top;
  float: left;
  width: 700px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;

  box-shadow: 10px 10px;
  border-radius: 5px;

  h1,h2,h3,h4 {
    margin: 10px 0px 5px 0px;
    display: block;
  }
}

#sidebar {
  padding: 10px;
  border-left: 1px dotted gray;
  clear: top;
  float: right;
  width: 200px;
  font-size: 89%;

  img {
    display: block;
  }
  img.pic {
    width: 200px;
    height: 200px;
  }

  .profile {
    font-style: italic;
  }

  .contact,.profile,.paypal {
    margin: 10px 0px 10px 0px;
  }
}

#tarot,#reiki {
  h4 { display: inline-block; clear: top;}
}

#about {
  border: 1px solid $body_bgcolor; // this makes everything lay out ok for some reason

  background-image: url('/assets/swirly.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  min-height: 700px;
  #about-content {
    margin: 60px 10px 250px 150px;
  }
}

blockquote {
  margin: 10px 0px;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 10px;
  .from {
    margin-left: 10px;
  }
}
blockquote:nth-child(even) {
  margin-left: 20px;
}
blockquote:nth-child(odd) {
  margin-right: 20px;
}
