!!! 5
%html
  %head
    <!-- site design and implementation by 346 Pearl St -->
    %title Harmony Dawn
    %link(href='http://fonts.googleapis.com/css?family=Lancelot' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Judson' rel='stylesheet' type='text/css')
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags


  %body
    %header
      %h1.title Harmony Dawn
      %br
      %h3.title A mystic approach to modern living

      %nav
        %ul
          %li
            %a(href="/") About
            %a(href="/tarot") Tarot
            %a(href="/reiki") Reiki
            %a(href="/testimonials") Testimonials

    #content
      = yield

    #sidebar
      %img.pic(src="/assets/harmony-square-orange.jpg" alt="Harmony Dawn")

      .contact
        %b Harmony Dawn
        %br
        Consultant, Psychic, Shinpiden
        %br
        %br
        For appointments:
        %br
        %a(href="mailto:harmony@harmonydawn.net") harmony@harmonydawn.net
        %br
        (781) 397-7876

      .profile
        Harmony Dawn is a consultant, psychic, teacher, and healer and has
        been reading and treating clients nationwide and in the Boston area
        for over 15 years. Click here to see what people are saying:
        %a(href="/testimonials") Testimonials

      %br
      %br

      #paypal
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCBHo+cGDThnbCoq1aChHPRD1CK0eGRP1x1LokOYI2k8uFCZpaFj6AF0hnBJFXuQ/tMjNCmTquQE2v7Wwr1JPZ92HHakUTtXDM5QZyKQfVbIpyTSjYYOW4TW2uMj3YmidRYTdu5ZUekfC+eCODJmu+hEC7zO25E0uhY6+8cPhzQsTELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIIMwUBLLk5S6AgYhBnVvuNeGoQ9JmiRLvqieu3bLz6kcRlLW36ILAmJ0+yvitMdL9W5Napkb8AJ+MppsikYs/FwH13p/kpbCWNcaiAMex5hPkYEFgvo/uC6sfkrwBvybm0clbLxdH0SyY8t7cc2y7BVVHviaf6OlSqav29gyZA1/+zXGqKkmbD7vj9e2bQWPVVpx4oIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTIwMTIxMjM0MzAzWjAjBgkqhkiG9w0BCQQxFgQUehPgL7pjBa1vHRjdxCH3O8s8w1swDQYJKoZIhvcNAQEBBQAEgYBrtkUyQqkxnPlD0JyjU2J8oCOk/E3kBYq6jB+fOHYPkgMv3Orkyhgnix415yY6l8LEbbc7DMXHt9SJxkz0JeVr3bh36NMkqWXKJVygAhiV6VQ2BLb6iw7N8grN0pLsxwhx+OOv3J/Qj0XSfdCQPqvTx7E7pFPH5s6PU7YNPQ0GqA==-----END PKCS7-----
        ">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

      %p Has Harmony Dawn helped you master your potential? Leave your tip or donate here!


    %br(clear="all")/
