!!! 5
%html
  %head
    %title Harmony Dawn
    %link(href='http://fonts.googleapis.com/css?family=Lancelot' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Judson' rel='stylesheet' type='text/css')
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags


  %body
    %header
      %h1.title Harmony Dawn
      %br
      %h3.title A mystic approach to modern living

      %nav
        %ul
          %li
            %a(href="/") About
            %a(href="/tarot") Tarot
            %a(href="/reiki") Reiki
            %a(href="/testimonials") Testimonials

    #content
      = yield

    #sidebar
      %img.pic(src="/assets/harmony-square-orange.jpg" alt="Harmony Dawn")

      .contact
        Harmony Dawn
        %br/
        %a(href="mailto:harmony@harmonydawn.net") harmony@harmonydawn.net
        %br/
        (781) 397-7876

      .profile
        Here is some profile information, perhaps "smokin' hash and chewin'
        gash" or "SWF, 31, into cats and cat apparel"
      %br/

      .paypal
        Fuck you, pay me
        %img(src="http://www.expanton.com/paypal.png")

      %p
        Here is such as some text maybe for a signup or something
      %form(action="/")
        %input(type="text" name="email")
        %input(type="submit" value="Boners")


    %br(clear="all")/
